.tab {
  margin-inline: 1em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1em;
  color: white;
  padding-bottom: 4px;
  background-image: linear-gradient(white 0 0);
  background-position: bottom center;
  background-size: 0px 2px;
  background-repeat: no-repeat;

  transition: all 0.3s;
}

.tab:hover {
  background-size: 90% 2px;

  transition: background-size 0.3s;
}

.tab.selected {
  background-size: 90% 2px;
}

.arrow {
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  margin: 0 10px;
  fill: #ffffff;
  cursor: pointer;
  transition: filter 0.3s;
  
  --margin: 1em;
}

.arrow:hover {
  filter: drop-shadow(0 0 5px white);
  transition: filter 0.3s;
}

.arrow.left {
  margin-right: var(--margin);
}

.arrow.right {
  transform: rotate(-180deg);
  margin-left: var(--margin);
}

.tab-list {
  margin-bottom: 1em;
  max-width: 80%;
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.tab-collection {
  overflow-x: scroll;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
  transition: box-shadow 0.3s;
  border-radius: 0.12em;
}

.tab-collection.scrollable-left {
  box-shadow: inset 15px 0 5px -10px #ffffff44;
}

.tab-collection.scrollable-right {
  box-shadow: inset -15px 0 5px -10px #ffffff44;
}

.tab-collection.scrollable-both {
  box-shadow: inset 15px 0 5px -10px #ffffff44, inset -15px 0 5px -10px #ffffff44;
}

.tab-collection::-webkit-scrollbar {
  display: none;
}