.tab-display-canvas {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  opacity: 1;
  transition: opacity 500ms 1000ms;
}

.tab-display-canvas.changing {
  opacity: 0;
  transition: opacity 500ms;
}

.tab-display {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .tab-display-canvas.music, .tab-display-canvas.changing.music {
    overflow: visible;
    overflow-x: hidden;
    height: 17.5em;
  }
}