#root {
  height: 100vh;
  background-color: var(--black);
  color: var(--white);
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
}

.content-half {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

@media screen and (max-width: 900px) {
  #root {
    height: auto;
    overflow: scroll;
    overflow-x: hidden;
  }

  main {
    flex-wrap: wrap;
  }

  .content-half {
    width: 100%;
    min-height: 100vh;
  }
}