:root {
  --white: #ffffffff;
  --maximum-yellow-red: #f0b62dff;
  --purple: #5b28b8ff;
  --tiffany-blue: #0abab5ff;
  --black: #000000ff;
}

body {
  margin: 0px;
  font-family: 'Noto Serif Khojki', serif;
}